# NetXMS version to build
VERSION=
# Time Zone for docker containers and NetXMS services
TZ=Europe/Madrid

# Options:
# de_DE, es_ES, de_CH, ch_DE, ru_RU, nl_NL. sv_SE, en_US, fr_FR, en_GB
LOCALE=en_US

DOMAIN=netxms.local
NX_SERVER_NAME=server
NX_POSTGRES_NAME=postgres
NX_AGENTD_NAME_PREFIX=agent
