# Code page used by NetXMS server. Has no effect on Windows or if server was compiled without iconv support.
#CodePage=

# Interface address which should be used by server to listen for incoming connections. Use value 0.0.0.0 or * to use all available interfaces.
#ListenAddress=

## Logging
# Log file name
LogFile=/dev/stdout
# Log file name suffix used when LogRotationMode is set to 1 (daily), can contain strftime(3C) macros
#DailyLogFileSuffix=
# Number rotated files to keep, older will be discarded
#LogHistorySize=
# Define log rotation mode. Possible values are:
# 0 - No rotation;
# 1 - Daily rotation (log will be rotated every midnight);
# 2 - Rotation by size (log will be rotated when it’s size will exceed value defined by MaxLogSize parameter).
#LogRotationMode=
# Maximum log file size in bytes, used only if LogRotationMode is set to 2
#MaxLogSize=

# Increase logging verbosity, 0 (only errors) to 9 (verbose debug)
#DebugLevel=3
# Set server debug logging level (0 - 9) for exact log tag or log tag mask. Value of 0 turns off debugging, 9 enables very detailed logging. Configuration should look like debugTag:logLevel (like agent.tunnel.*:4). To configure multiple log tags, you should use multiple DebugTags parameters or write them coma separated (like crypto.*:8,agent.tunnel.*:4).
#DebugTags=

## Database configuration.
## Uncomment and setup ONE section.

## Option #1 - SQLite (for test installations only):
#DBDriver=sqlite.ddr
#DBName=/var/lib/netxms/netxms.db

## Option #2 - PostgreSQL (recommended):
DBDriver=pgsql.ddr
DBServer=postgres
# Schema name
#DBSchema=
DBName=netxms
DBLogin=netxms
DBPassword=netxms
# Hashed password, as produced by “nxencpass”
#DBEncryptedPassword=
# Additional driver-specific parameters.
#DBDrvParams=



## Option #3 - MySQL:
#DBDriver=mysql.ddr
#DBServer=127.0.0.1
#DBName=netxms
#DBLogin=netxms
#DBPassword=netxms

## Option #4 - Oracle:
#DBDriver=oracle.ddr
#DBServer=//127.0.0.1:1521/ORCL # Instant Client connection string or SID
#DBLogin=netxms
#DBPassword=netxms

## Option #5 - unixODBC/FreeTDS:
#DBDriver=odbc.ddr
#DBServer=NETXMS_DSN
#DBLogin=netxms
#DBPassword=netxms

#PerfDataStorageDriver=

# Additional server module to be loaded at server startup. To load multiple modules, add additional Module parameters.
# #Module=
# #Module=
#
